.skeleton {
    /*margin: 0 auto;*/
    background: var(--color-background-mute);
    border-radius: 8px;
    animation: opacity 1.5s linear infinite;
}

@keyframes opacity {
    0%,
    40% {
        opacity: 1;
    }
    70% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

