.form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1rem;
    margin-top: 16px;
}

.item {
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.input, .select {
    width: 300px;
    height: 46px;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.checkbox {
    width: 24px;
    height: 24px;
    border-radius: 8px;
}

.error {
    color: crimson;
    font-size: 0.8em;
}

.required {
    color: crimson;
}

.submitButton {
    width: 220px;
    justify-content: center;
}

.agreement {
    display: flex;
    gap: 16px;
}