.wrapper {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.input {
    display: flex;
    min-width: 250px;
    padding: 8px;
    font-size: 1em;
    background: none;
    border: 2px solid var(--vt-c-light-green);
    border-radius: 8px;
    outline: none;
}

.input:hover,
.input:active {
    border-color: var(--vt-c-dark-green);;
}